@model TESTMVCCORE.Models.Home.Model_Add


<div>
	<div>
		@Html.LabelFor(model => model.Persona.Name, "名稱")
		@Html.TextBoxFor(model => model.Persona.Name, new { data_parsley_required = "" })
	</div>
	<div>
		@Html.LabelFor(model => model.Persona.Age, "年齡")
		@Html.TextBoxFor(model => model.Persona.Age, new { type = "number", data_parsley_required = "", data_parsley_type = "digits" })
	</div>
	<div>
		@Html.LabelFor(model => model.Persona.Type, "類型")
		@Html.DropDownListFor(model => model.Persona.Type, Model.ddl_Type, new { data_parsley_required = "" })
	</div>
</div>