@model TESTMVCCORE.Models.Home.Model_List
@{
}

@section Css {
	 <link rel="stylesheet" href="~/css/table.css" />
}

@section Scripts {
	<script type="text/javascript">
		function deletePersona(id) {
			if (!confirm('確定刪除?'))
				return false;
			$.ajax({
				type: "POST",
				url: "@(Url.Action("Delete", "Home"))",
				data: { Id: id },
				dataType: "json",
				success: function (response) {
					if (response.isSuccess) {
						// alert('刪除成功!');
						window.location.href = '@(Url.Action("List"))';
					} else {
						alert(response.message);
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert('刪除失敗!');
				}
			});
		}
	</script>
}

<div>
	<h1>查詢</h1>
	@using (Html.BeginForm(FormMethod.Post, new { id = "frmSearch", @autocomplete = "off", @data_parsley_validate = "" }))
	{
		<div>
			<label>姓名</label>
			@* <input type="text" name="Name" value="@Model.NameKeyword" /> *@
			@Html.TextBoxFor(m => m.QueryParams.NameKeyword, new { @class = "" })
		</div>
		<div>
			<label>年齡</label>
			@* <input type="text" name="Age" value="@Model.Age" /> *@
			@Html.TextBoxFor(m => m.QueryParams.Age, new { @class = "", min = "0", type = "number" })
			@Html.DropDownListFor(m => m.QueryParams.NumType, Model.ddl_SearchNumberType, new { @class = "" })
		</div>
		<div>
			<label>種類</label>
			@Html.DropDownListFor(m => m.QueryParams.Type, Model.ddl_SearchType, new { @class = "" })
		</div>
		<div>
			<button type="submit" class="btn btn-primary">查詢</button>
		</div>
	}

</div>

<div>
	<h1>列表</h1>
	<a class="btn btn-primary" href="@Url.Action("Add")">新增</a>
	<table id="tablePersona">
		<tr>
			<th>編號</th>
			<th>姓名</th>
			<th>年齡</th>
			<th>功能表</th>
		</tr>
		@if (Model.PersonaList != null && Model.PersonaList.Count() > 0)
		{
			int row = 0;
			foreach (var item in Model.PersonaList)
			{
				//列表顯示
				<tr>
					<td>@(++row)</td>
					<td>@item.Persona.Name</td>
					<td>@item.Persona.Age</td>
					<td>
						<a class="btn btn-warning" href="@Url.Action("Edit", new { id=item.Persona.Id })">編輯</a>
						<a class="btn btn-danger" onclick="deletePersona(@item.Persona.Id )">刪除</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="4">沒有資料</td>
			</tr>
		}
	</table>
</div>

